@import "tailwindcss";





@theme{
   --max-width-ContainerGRID: 81.375rem;

    --breakpoint-tablet: 40rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;
}


body{
  background-color: #fff;
}